#wrapper {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url(../../../../assets/images/bg.jpg);
}

#login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: 'Lato', sans-serif;
  padding-left: 15px;
  padding-right: 15px;
}

.card {
  background-color: #ffffff20;
  padding: 40px;
  border-radius: 7px;
  width: 280px;
}

.card-header {
  padding-bottom: 20px;
}

.card-footer {
  display: flex;
  flex-direction: column;
}

div {
  display: block;
}

form {
  display: block;
  margin-top: 0em;
}

.submit {
  width: 100%;
  height: 37px;
  background-color: #064355;
  border: none;
  color: #EDF8F8;
  margin: 10px 0;
  border-radius: 7px;
  font-size: 16px;
}

.tpe_inicio {
  width: 154px;
  height: 84px;
  display: block;
  margin: 0px auto;
}