<p-card class="p-0 m-0">
    <div class="col-12 p-0 m-0 mb-4 flex justify-content-center">
        <div class="border-bottom-2 text-xl border-red-600 w-full text-black-alpha-80 w-full surface-overlay font-bold flex align-items-center justify-content-start">Register Notification</div>
    </div>
    <form [formGroup]="cadastroForm" (ngSubmit)="register()">   
        <div class="form-group">            
            <div class="formgrid grid">
                <div class="field col-4">
                    <label class="text-900 font-bold" for="name">Category</label>
                    <p-dropdown
                        [options]="categories"
                        optionLabel="name"
                        formControlName="category"
                        [filter]="true"
                        filterBy="name"
                        [showClear]="true"
                        placeholder="Select"
                        styleClass="w-full"
                    >
                        <ng-template pTemplate="selectedItem" let-selectedOption>
                            <div class="category-item category-item-value">
                                <div>{{ selectedOption.name }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-category pTemplate="item">
                            <div class="category-item">
                                <div>{{ category.name }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <div *ngIf="cadastroForm.get('category').invalid">
                        <div *ngIf="cadastroForm.get('category').errors.required  && categoryEmpyte" class="text-red-500">
                          Category is required.
                        </div>
                      </div>
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <h5 class="text-900">Message</h5>
                    <textarea styleClass="w-full" pInputTextarea [cols]="100" formControlName="message"></textarea><br>
                    <div *ngIf="cadastroForm.get('message').invalid">
                        <div *ngIf="cadastroForm.get('message').errors.required && messageEmpyte" class="text-red-500">
                          Message is required.
                        </div>
                      </div>
                </div>               
            </div>
            <div class="formgrid grid">
                <div class="field col flex justify-content-end align-content-end">
                    <button type="submit" class="font-bold" pButton label="Send Message" severity="success" ></button>
                </div>
            </div>
        </div>
    </form>
</p-card>

<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>

