<div *ngIf="!isForgotPassword"
     class="flex justify-content-center flex-wrap card-container" id="wrapper">       
    <div id="login">
        <form class="card">
            <div class="card-header  mb-4">
                <img src="assets/images/notificacao.jpeg" class="home">
            </div>
            <div class="card-body">
                <label for="usuario" class="text-900 mb-2 text-lg">Login</label>
                <div class="alert alert-danger" *ngFor="let erro of errors">
                    {{ erro }}
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <input type="text" formControlName="username" class="form-control" placeholder="User"
                            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required" class="text-white">User is mandatory!</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" formControlName="password" class="form-control" placeholder="senha"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required" class="text-white">Password is mandatory!</div>
                        </div>
                    </div>
                    <div class="flex justify-content-center">
                        <button pButton pRipple type="submit" label="Enter" class="p-button-raised p-button-secondary font-bold bg-red-500 mb-2"></button>
                    </div>
                    <div class="flex justify-content-center">
                        <a (click)="forgotPassword()" class="text-900 recuperar_senha">Forgot password?</a>
                    </div>
                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                    <div class="justify-content-center">
                        <p class="text-700 font-bold mb-2">Don't have an account yet Notification Web?</p>
                        <a (click)="forgotPassword()" class="text-900 font-bold text-red-500 recuperar_senha">Create your account now</a>
                    </div>
                </form>
            </div>
        </form>
    </div>
</div>
<div *ngIf="isForgotPassword"
     class="flex justify-content-center flex-wrap card-container" id="wrapper">
    <div id="login">
        <form class="card">
            <div class="card-header  mb-4">
                <img src="assets/images/notificacao.jpeg" class="home">
            </div>
            <div class="card-body">
                <label for="usuario" class="text-white mb-2 text-lg">Type your e-mail</label>
                <div class="alert alert-danger" *ngFor="let erro of errors">
                    {{ erro }}
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="submitForgotPassword()">
                    <div class="form-group">
                        <input type="text" formControlName="email" class="form-control" placeholder="Email"
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required" class="text-white">
                                Email is mandatory!</div>
                        </div>
                    </div>
                    
                    <div class="flex justify-content-center">
                        <button pButton pRipple type="submit" label="Enviar" class="p-button-raised p-button-secondary font-bold bg-blue-900 mb-2"></button>
                    </div>
                    <div class="flex justify-content-center">
                        <a href="#" class="text-white">Back</a>
                    </div>
                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                </form>
            </div>
        </form>
    </div>
</div>
<p-toast></p-toast>