<p-card class="p-0 m-0">
    <div class="col-12 p-0 m-0 mb-4 flex justify-content-center">
        <div class="border-bottom-2 text-xl border-red-600 w-full text-black-alpha-80 w-full surface-overlay font-bold flex align-items-center justify-content-start">Log History</div>
    </div>
<p-table
    [value]="historics"
    [paginator]="true"
    [rows]="5"
    [first]="first"
    [showCurrentPageReport]="true"

    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    (onPage)="pageChange($event)"
    [rowsPerPageOptions]="[10, 25, 50]"
    class="col-12"
>
    <ng-template pTemplate="header">
        <tr>
            <th >Category</th>
          <th >Client</th>
            <th >Send Date</th>
            <th >Message</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-historic>
        <tr>
            <td>{{ historic.category }}</td>
          <td>{{ historic.client }}</td>
            <td>{{ historic.datemessagesent | date : "dd/MM/yyyy HH:mm:ss" }}</td>
            <td>{{ historic.message.length > 15 ? historic.message.substring(0, 15) + '...' : historic.message}}</td>
            <td>
                <button
                pTooltip="Details"
                tooltipPosition="top"
                pButton icon="pi pi-list"
                (click)="showDialog(historic)"
                class="surface-900"
                ></button>
            </td>
        </tr>
    </ng-template>

</p-table>
</p-card>

<p-dialog
    header="Details"
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [maximizable]="true">
        <p>
            <label class="font-bold text-sm" for="category">Category: &nbsp;</label><label class="text-sm">{{category}}</label>
        </p>
        <p>
            <label class="font-bold text-sm" for="date">Date: &nbsp;</label><label class="text-sm">{{date  | date : "dd/MM/yyyy HH:mm"}}</label>
        </p>
        <p>
            <label class="font-bold text-sm" for="message">Message: &nbsp;</label><label class="text-sm">{{message}}</label>
        </p>
</p-dialog>

<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>


