<div class="grid overflow-hidden">
  <div class="col-12 p-0 m-0">
    <p-toolbar class="p-0 m-0" styleClass="surface-800">
      <div class="ml-1 flex">
        <p-image src="assets/images/notificacao.jpeg" alt="Logo" height="50" (click)="goToHome()"></p-image>
        <span>
          <label class="text-white text-basefont-italic ml-2">Notification <br> Message</label>
        </span>
      </div>
      <div class="mr-4 p-2 pb-0 pt-0 p-0 m-0 ">
        <p-chip class="" label="User" image="assets/images/images/profile_small.jpg" styleClass="custom-chip"></p-chip>
        <a class="ml-2" (click)="logout()">
          <i class="pi pi-sign-out mr-1"></i>
          <span class="text-white" [style]="{'cursor': 'pointer'}">Out</span>
        </a>
      </div>
    </p-toolbar>
  </div>
  <div class="card h-30rem p-2">
    <p-panelMenu class="ml-2" [style]="{'width':'300px'}" [model]="menus"></p-panelMenu>
  </div>
  <div class="col bg-white">
    <section>
      <router-outlet></router-outlet>
    </section>
  </div>
</div>